#fondo { 
    background: url('../imagenes/fondoLleno.png') no-repeat;
    background-position: center top;
}

#datos{
    opacity: 0.0;
}

#form{
    margin-top: 17%;
}

textarea {
   resize: none;
    width: 90%;
}

#boton {
    margin-left: 3%;       
    margin-right: 3%; 
    height: 40%;
}