#fondo { 
    background: url('../imagenes/fondoLleno.png') no-repeat;
    background-position: center top;
}

#id_data {
    padding: 150px;
}

#boton{
    width: 900px;    
}

#botones {
    opacity: 0.0;
}

#boton{
    width: 30%;   
}