#fondo { 
    background: url('../imagenes/fondoLleno.png') no-repeat;
    background-position: center top;
}

#datos{
    opacity: 0.0;
}

#encabezado {
    margin-top: 17%;
    width: 80%;
    text-align: center;
    font-family: arial;
    font-size: 12px;
    
}

#footer {
    width: 80%;
    text-align: center;
    font-family: arial;
    font-size: 12px;
    
}

#scrollTabla {
    width: 80%;
    overflow-y: scroll;
}

#boton {
    margin-left: 3%;       
    margin-right: 3%; 
    width: 20%
}

#tabla {
    width: 100%;
    text-align: center;
    font-family: arial;
    font-size: 12px;
}
 
td, th{
    padding:3px;
}

th{
    background: #FFF;
}

tr{
    height: 25px;
}

.prioridad{
    width: 10%;
}

.alta{
    width: 20%;
}

.local{
    width: 50%;
}

.estado{
    width: 300%;
}

/*Primera fila, primera celda*/
table tr:first-child th:first-child {
    border-radius:10px 0px 0px 0px;
}
 
/*Primera fila, última celda*/
table tr:first-child th:last-child {
    border-radius:0px 10px 0px 0px;
}
 
/*Última fila, primera celda*/
#footer td {
    background: #FFF;
    border-radius:0px 0px 10px 10px;
}
 

table tr:nth-child(2n) {
    background: #f0c002;
}
 
table tr:nth-child(2n+1){
    background: #f2d45e;
}
